<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .brandlist {
      border: 1px solid #000;
    }
    .brandlist td,th {
      border: 1px solid #000;
      width: 200px;
      text-align: center;
    }
  </style>
</head>
<body>

<div id="app">
  <table>
    <tr>
      <td>请输入品牌名称</td>
      <td><input @keyup.test="enterToAdd" v-model="brandName" type="text"></td>
      <td><button @click="addBrand">添加</button></td>
    </tr>
    <tr>
      <td>请输入搜索关键字</td>
      <td><input v-model="keyWords" type="text"></td>
    </tr>
  </table>

  <table class="brandlist">
    <tr>
      <th>id</th>
      <th>品牌名称</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
    <tr v-for="(item,index) in search()" :key="item.id">
      <td>{{ item.id }}</td>
      <td>{{ item.brandName}}</td>
      <td>{{ item.cTime }}</td>
      <td><button @click="deleteBrand( item.id )">删除 </button></td>
    </tr>
  </table>

</div>

<script src="./node_modules/vue/dist/vue.js"></script>

<script>
  Vue.config.keyCodes.test = 13

  var app = new Vue({
    el: "#app",
    data: {
      brandName: "",
      keyWords: "",
      brands: [
        { id: 1, brandName: "林肯", cTime: (new Date).toLocaleDateString() },
        { id: 2, brandName: "法拉利", cTime: (new Date).toLocaleDateString() },
        { id: 3, brandName: "野马", cTime: (new Date).toLocaleDateString() },
        { id: 4, brandName: "劳斯莱斯", cTime: (new Date).toLocaleDateString() },
      ]
    },
    methods: {
      enterToAdd( e ) {
        // 说明用户按了回车键, 进行添加品牌功能
        this.addBrand();
      },
      // 添加品牌
      addBrand() {
        if ( !this.brandName ) return
        // 动态创建新对象, 并添加到 brands 中
        let nextId = Math.max( ...this.brands.map( v=>v.id ) ) + 1
        this.brands.push( { id: nextId, brandName: this.brandName, cTime: (new Date).toLocaleDateString() } )
        this.brandName = ""
      },
      // 根据 id 删除品牌
      deleteBrand( id ) {
        if ( !id ) return
        // findIndex找到 数组中 id 的对象的索引, 将其从数组中删除
        let delIndex = this.brands.findIndex( v=>v.id === id )
        this.brands.splice( delIndex, 1 )
      },
      // 搜索功能
      search() {
        // 过滤出符合条件的结果
        return this.brands.filter( v=> (v.brandName.indexOf(this.keyWords) > -1) )
      }
    }
  })
</script>

</body>
</html>